* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  transform: translateX(0);
  width: 100%;
}

/* .wrapper2 {
  display: flex;
  transform: translateX(25%);
} */

.slider {
  display: flex;
  width: 100%;
}

.slider2 {
  display: flex;
}

.slider > img {
  flex: 0 0 25%;
  max-width: 25%;
  padding: .25rem;
}

.add {
  position: absolute;
  width: 150px;
  height: 200px;
  padding: .25rem;
  top: 0;
  left: 0;
  border: 2px solid red;
  z-index: 20;
}



.slider2 > img {
  flex: 0 0 33%;
  max-width: 33%;
  padding: .25rem;
}

.imageWrapper {
  display: flex;
  width: 100%;
}

.imageWrapper > img {
  flex: 0 0 33%;
  max-width: 33%;
  padding: .25rem;
}






