* {
  box-sizing: border-box;
}

.wrapper1 {
  display: flex;
  transform: translateX(0);
}

/* .wrapper2 {
  display: flex;
  transform: translateX(25%);
} */

.slider {
  display: flex;
}

.slider2 {
  display: flex;
}

.slider > img {
  flex: 0 0 25%;
  max-width: 25%;
  padding: .25rem;
}

.slider2 > img {
  flex: 0 0 33%;
  max-width: 33%;
  padding: .25rem;
}

.add {
  display: flex;
}

.add > img{
  flex: 0 0 25%;
  max-width: 25%;
  padding: .25rem;
}






